numpy==2.2.*
transformers
tqdm
torch
torchvision
ipykernel
ipywidgets
omegaconf
datasets
wandb
librosa
torchaudio
matplotlib
gradio
scikit-learn
openai-whisper
montreal-forced-aligner
pypinyin
praat-parselmouth
whisperx
